.main-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.from-box {
    max-width: 50%;
}

.menu-icon {
    color: #000000;
    font-size: 22px;
}

.card-data {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 5%;
    gap: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    transition: box-shadow 0.3s ease;
    /* Smooth transition effect */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increased shadow on hover */
}


.card-body {
    width: 350px;
    max-width: 350px;
}

.card-body p {
    overflow: hidden;
    max-height: 100px;
}

.Beer-Img {
    width: 45%;
    height: 300px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}