.main-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-data {
    display: flex;
    flex-wrap: wrap;
    margin: auto 7%;
    gap: 2%;
    background-color: #c3c3c3;
    padding: 10px 40px;
}

.from-box {
    max-width: 50%;
}

.Heart {
    color: red;
}